* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  font-weight: 500;
}
.top-container {
  margin: 2% 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .company-name {
  height: 22px;
  width: 12%;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
}
.list {
  list-style-type: none;
}
.nav-bar .nav-1 {
  display: flex;
  gap: 48px;
}
.nav-bar .nav-2 {
  display: flex;
  gap: 48px;
}
.nav-bar .nav-1 li a {
  text-decoration: none;
  color: #1e1e1e80;
  font-size: 18px;
}
.nav-bar .nav-1 .f-c a:first-child {
  color: #1e1e1e;
}
.nav-bar .nav-2 li a img {
  width: 100%;
  height: auto;
}
.v-line1 {
  width: 24px;
  border: 1px solid #1e1e1e;
  transform: rotate(90deg);
  margin-top: 12px;
}
.content-1 {
  height: 512px;
  width: 100%;
  background-color: #c1dcdc;
  padding: 3% 4%;
  margin: 2% 0px;
  border-radius: 24px;
  position: relative;
}
.content-1 .left-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  float: left;
  height: auto;
  width: 40%;
}
.content-1 .left-section .top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}
.content-1 .left-section .top h1 {
  font-size: 64px;
  font-weight: 900;
  color: black;
  line-height: 64px;
}
.content-1 .left-section .top .inner-container {
  display: flex;
  justify-content: start;
  gap: 30px;
  width: 400px;
  height: 75px;
}
.v-line2 {
  width: 69px;
  height: 0px;
  border: 1px solid #1e1e1e;
  transform: rotate(90deg);
  margin-top: 40px;
}
.content-1 .left-section .top .inner-container div p {
  color: #1e1e1e;
  font-size: 18px;
}
.content-1 .left-section .top .inner-container div p:first-child {
  font-size: 32px;
}
.content-1 .left-section .btn-container .search-bar {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5px 18px 10px;
}
.content-1 .left-section .btn-container .search-bar .img-container {
  height: 48px;
  width: 48px;
  background-color: #c1dcdc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-1 .left-section .btn-container .search-bar p {
  color: #1e1e1e80;
  font-size: 18px;
}
.content-1 .left-section .btn-container .search-bar .img-container img {
  height: 20px;
  width: 20px;
}
.content-1 .right-section {
  position: relative;
}
.content-1 .right-section .container .arrow-bottom {
  height: 100px;
  width: 12%;
  position: absolute;
  top: 270px;
  left: 45%;
}
.content-1 .right-section .container .rectangle {
  height: 400px;
  width: 40%;
  background-color: #1e1e1e;
  position: absolute;
  left: 58%;
  top: 72px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.content-1 .right-section .container .plant-image {
  width: 37%;
  height: 513px;
  position: absolute;
  left: 62%;
  top: -40px;
}
.content-1 .right-section .container .arrow-top {
  height: 180px;
  width: 7%;
  position: absolute;
  left: 96%;
  top: -20px;
}
.content-2 {
  display: flex;
  justify-content: space-between;
  margin: 2% 0px;
}
.content-2 .left-section {
  height: 264px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.content-2 .left-section div h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #1e1e1e;
}
.content-2 .left-section div p {
  margin-top: 12px;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e80;
}
.content-2 .left-section button {
  width: 168px;
  height: 51px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1dcdc;
  border: none;
  border-radius: 8px;
}
.content-2 .left-section button p {
  font-size: 18px;
  color: #1e1e1e;
}
.content-2 .left-section button img {
  height: 20px;
  width: 24px;
}
.content-2 .right-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.content-2 .right-section section {
  height: 436px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-2 .right-section section img {
  height: 363px;
  width: 100%;
  border-radius: 12px;
}
.content-2 .right-section section h3 {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
}
.content-2 .right-section section p {
  color: #1e1e1e80;
  font-size: 18px;
}
.about-us {
  width: 100%;
  margin-bottom: 120px;
  padding: 0px 3%;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.about-header {
  height: 87px;
  width: 430px;
  text-align: center;
}
.about-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.about-header p {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
}
.about-main {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-main div {
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.about-main div .img-container {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #c1dcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main div .img-container img {
  width: 40px;
  height: 40px;
}
.about-main div h3 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.about-main div p {
  color: #1e1e1e80;
  font-size: 18px;
  line-height: 27px;
}
.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.category-header {
  width: 262px;
  height: 87px;
  text-align: center;
  margin: auto;
}
.category-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.category-header p {
  font-size: 18px;
  color: #1e1e1e80;
}
.category-main {
  max-width: 100%;
  height: 841px;
  padding: 2% 3%;
  background-color: #c1dcdc;
  display: flex;
  justify-content: space-between;
}
.category-main .content {
  height: 692px;
  width: 352px;
}
.category-main .content img {
  height: 512px;
  width: 100%;
}
.category-main .content h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #1e1e1e;
}
.category-main .content p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
  margin: 10px;
}
.category-main div .btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.category-main .content button {
  margin-top: 10px;
  height: 51px;
  width: 147px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.category-main .content button img {
  width: 24px;
  height: 20px;
  margin-left: 5px;
}
.category-main .content button span {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 18px;
}
.comments {
  width: 100%;
  height: auto;
  padding: 3%;
}
.comments h2 {
  width: 457px;
  height: 96px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-bottom: 30px;
}
.comments .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.comments .content div {
  height: 330px;
  width: 50%;
  background-color: #c1dcdc;
  border-radius: 12px;
  padding: 45px;
}
.comments .content div img {
  height: 35px;
  width: 35px;
}
.comments .content div .comment {
  margin-left: 45px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 500px;
  color: #1e1e1ebf;
}
.comments .content div .author {
  margin-left: 45px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #1e1e1e;
}
.comments .content div .source {
  margin-left: 45px;
  font-weight: 500;
  font-size: 12px;
  color: #1e1e1e80;
}
footer {
  margin-top: 100px;
  height: 400px;
  max-width: 100%;
  padding: 2% 3%;
  overflow: hidden;
  background-color: #c1dcdc;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer section .left-container {
  width: 192px;
  height: 170px;
}
footer section .left-container .company-name {
  height: 16px;
  width: 95px;
  margin-bottom: 24px;
}
footer section .left-container p {
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e80;
  margin-bottom: 24px;
}
footer section .left-container .list {
  display: flex;
  gap: 24px;
  align-items: center;
}
footer section .left-container .list li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #1e1e1e80;
  text-align: center;
  padding-top: 12px;
}
footer section .left-container .list li a img {
  width: 20px;
  height: 20px;
}
footer section .right-container {
  width: 452px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
footer section .right-container .list li {
  margin-bottom: 24px;
}
footer section .right-container .list li a {
  text-decoration: none;
  color: #1e1e1e80;
  font-weight: 400px;
  font-size: 18px;
}
footer section .right-container .list .f-c a:first-child {
  font-weight: 700px;
  font-size: 18px;
  color: #1e1e1e;
}
footer .copyright {
  color: #1e1e1e80;
  font-size: 18px;
  margin-top: 90px;
}

@media screen and (max-width: 1024px) {
  .top-container {
    margin: 1% 2%;
  }
  header .company-name {
    height: 17px;
    width: 110px;
  }
  .nav-bar {
    margin-left: 80px;
  }
  .nav-bar .nav-1 {
    gap: 35px;
  }
  .nav-bar .nav-2 {
    gap: 40px;
  }
  .nav-bar .nav-1 li a {
    font-size: 15px;
  }
  .nav-bar .nav-2 li a img {
    width: 18px;
    height: 18px;
  }
  .v-line1 {
    width: 20px;
    margin-top: 10px;
  }
  .content-1 {
    height: 380px;
    width: 100%;
    margin: 1% 0px;
    padding: 2% 2%;
    border-radius: 24px;
  }
  .content-1 .left-section {
    gap: 30px;
  }
  .content-1 .left-section .top {
    height: 227px;
    gap: 20px;
  }
  .content-1 .left-section .top h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .content-1 .left-section .top .inner-container {
    gap: 10px;
    width: 300px;
    height: 75px;
  }
  .v-line2 {
    width: 50px;
    margin-top: 30px;
  }
  .content-1 .left-section .top .inner-container div p {
    font-size: 15px;
  }
  .content-1 .left-section .top .inner-container div p:first-child {
    font-size: 25px;
  }
  .content-1 .left-section .btn-container .search-bar {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    padding: 18px 5px 18px 10px;
  }
  .content-1 .left-section .btn-container .search-bar .img-container {
    height: 38px;
    width: 38px;
    border-radius: 20%;
  }
  .content-1 .left-section .btn-container .search-bar p {
    font-size: 15px;
  }
  .content-1 .left-section .btn-container .search-bar .img-container img {
    height: 16px;
    width: 16px;
  }
  .content-1 .right-section .container .arrow-bottom {
    height: 50px;
    width: 12%;
    top: 260px;
    left: 43%;
  }
  .content-1 .right-section .container .rectangle {
    height: 300px;
    width: 42%;
    left: 54%;
    top: 60px;
    border-top-left-radius: 145px;
    border-top-right-radius: 145px;
    border-bottom-left-radius: 145px;
  }
  .content-1 .right-section .container .plant-image {
    height: 380px;
    width: 37%;
    left: 60%;
    top: -20px;
  }
  .content-1 .right-section .container .arrow-top {
    height: 120px;
    width: 6%;
    left: 95%;
    top: 10px;
  }
  .content-2 {
    display: flex;
    gap: 40px;
    margin: 50px 0px;
  }
  .content-2 .left-section {
    height: 264px;
    width: 165px;
    gap: 20px;
  }
  .content-2 .left-section div h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .content-2 .left-section div p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 23px;
  }
  .content-2 .left-section button {
    width: 130px;
    height: 37px;
    padding: 0px 25px;
    border-radius: 8px;
  }
  .content-2 .left-section button img {
    height: 15px;
    width: 18px;
  }
  .content-2 .right-section {
    gap: 40px;
  }
  .content-2 .right-section section {
    gap: 12px;
  }
  .content-2 .right-section section img {
    height: 310px;
    width: 100%;
    border-radius: 12px;
  }
  .content-2 .right-section section h3 {
    font-size: 16px;
  }
  .content-2 .right-section section p {
    font-size: 15px;
  }
  .about-us {
    margin-bottom: 60px;
    padding: 0px 45px;
  }
  .about-container {
    gap: 40px;
  }
  .about-header {
    height: 80px;
    width: 400px;
  }
  .about-header h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .about-header p {
    font-size: 15px;
  }
  .about-main {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .about-main div {
    height: 250px;
    gap: 20px;
  }
  .about-main div .img-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .about-main div .img-container img {
    width: 30px;
    height: 30px;
  }
  .about-main div h3 {
    font-size: 16px;
  }
  .about-main div p {
    font-size: 15px;
  }
  .category {
    gap: 60px;
  }
  .category-header {
    width: 400px;
    height: 80px;
  }
  .category-header h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .category-header p {
    font-size: 15px;
  }
  .category-main {
    height: 690px;
    padding: 2% 2%;
  }
  .category-main .content {
    height: 600px;
    width: 280px;
  }
  .category-main .content img {
    height: 420px;
    width: 100%;
  }
  .category-main .content h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .category-main .content p {
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
  }
  .category-main .content button {
    margin-top: 10px;
    height: 40px;
    width: 125px;
    padding: 12px 24px;
    border-radius: 6px;
  }
  .category-main .content button img {
    width: 25px;
    height: 20px;
    margin-left: 5px;
  }
  .category-main .content button span {
    font-weight: 500;
    font-size: 15px;
  }
  .comments {
    padding: 2% 2%;
  }
  .comments h2 {
    width: 457px;
    height: 96px;
    font-size: 27px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .comments .content {
    gap: 20px;
  }
  .comments .content div {
    height: 270px;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
  }
  .comments .content div img {
    height: 25px;
    width: 25px;
  }
  .comments .content div .comment {
    margin-left: 35px;
    line-height: 20px;
    font-size: 14px;
  }
  .comments .content div .author {
    margin-left: 35px;
    margin-top: 20px;
    font-size: 14px;
  }
  .comments .content div .source {
    margin-left: 35px;
    font-weight: 500;
    font-size: 10px;
  }
  footer {
    margin-top: 100px;
    height: 310px;
    max-width: 100%;
    overflow: hidden;
  }
  footer section .left-container {
    width: 20%;
    height: 100px;
  }
  footer section .left-container .company-name {
    height: 14px;
    width: 95px;
    margin-bottom: 20px;
  }
  footer section .left-container p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  footer section .left-container .list {
    gap: 20px;
  }
  footer section .left-container .list li {
    width: 35px;
    height: 35px;
    padding-top: 6px;
  }
  footer section .left-container .list li a img {
    width: 14px;
    height: 14px;
  }
  footer section .right-container {
    width: 350px;
    height: 150px;
  }
  footer section .right-container .list li {
    margin-bottom: 10px;
  }
  footer section .right-container .list li a {
    font-size: 14px;
  }
  footer section .right-container .list .f-c a:first-child {
    font-weight: 700px;
    font-size: 15px;
  }
  footer .copyright {
    font-size: 14px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }
  .nav-bar {
    margin-left: 1px;
    margin-top: 10px;
  }
  .nav-bar .nav-1 {
    gap: 20px;
  }
  .nav-bar .nav-2 {
    gap: 20px;
  }
  .content-1 {
    width: 100%;
    height: 750px;
  }
  .content-1 .left-section {
    gap: 30px;
    float: none;
    height: auto;
    width: 100%;
  }
  .content-1 .left-section .top h1{
    margin-top: 30px;
    text-align: center;
  }
  .content-1 .left-section .top .inner-container {
    width: 100%;
    justify-content: space-evenly;
    height: 75px;
  }
  .content-1 .right-section .container .arrow-bottom {
    width: 20%;
    height: 60px;
    top: 250px;
    left: 1%;
  }
  .content-1 .right-section .container .rectangle {
    width: 60%;
    top: 133px;
    left: 23%;
  }
  .content-1 .right-section .container .plant-image {
    width: 50%;
    left: 30%;
    top: 53px;
  }
  .content-1 .right-section .container .arrow-top {
    width: 10%;
    left: 85%;
    top: 90px;
  }
  .content-2 {
    flex-direction: column;
    align-items: center;
  }
  .content-2 .right-section {
    flex-direction: column;
  }
  .content-2 .right-section section {
    align-items: center;
  }
  .content-2 .right-section section img {
    height: 350px;
    width: 70%;
  }
  .about-main {
    flex-direction: column;
  }
  .category-main {
    height: 2000px;
    flex-direction: column;
    align-items: center;
  }
  .comments h2 {
   width: 100%;
  }
  .comments .content {
    flex-direction: column;
  }
  .comments .content div {
    width: 100%;
  }
  footer {
    height: 700px;
    text-align: center;
  }
  footer section {
    flex-direction: column;
    align-items: center;
    height: 350px;
  }
  footer section .left-container{
    width: 100%;
  }
  footer section .left-container .list{
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  .nav-bar {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-1 .left-section .btn-container .search-bar{
    margin-top: 100px;
  }
  .content-1 {
    margin-top: 15px;
    width: 100%;
    height: 850px;
  }
  header {
    justify-content: center;
  }
  .category-header{
    width: 100%;
  }
  footer{
    height: 500px;
  }
}
