* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 500;
}
body {
  zoom: 1;
}
.full-container {
  height: 100vh;
  min-width: 1440px;
  min-height: auto;
}
.top-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0px 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
header {
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  padding: 44px 0px;
  gap: 10%;
  align-items: center;
}
nav > img{
  display: none;
}
nav .logo {
  height: 20px;
  width: 125px;
}
nav .nav-links {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}
.nav-links .nav-1 li a {
  color: #1e1e1e80;
  font-size: 18px;
  text-decoration: none;
}
.nav-links .nav-2{
  display: flex;
}
.nav-links .nav-1 .f-c a:first-child {
  color: #1e1e1e;
}
.v-line1 {
  width: 24px;
  border: 1px solid #1e1e1e;
  transform: rotate(90deg);
  margin-bottom: 7px;
}
.content-1 {
  height: 512px;
  max-width: 100%;
  background-color: #c1dcdc;
  padding: 48px;
  border-radius: 24px;
}
.content-1 > img{
  display: none;
}
.content-1 .left-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  float: left;
  width: 512px;
  height: 40%;
}
.content-1 .left-section .top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}
.content-1 .left-section .top h1 {
  font-size: 64px;
  font-weight: 900;
  color: black;
  line-height: 64px;
}
.content-1 .left-section .top .inner-container {
  display: flex;
  justify-content: start;
  gap: 30px;
  width: 400px;
  height: 75px;
}
.v-line2 {
  width: 69px;
  height: 0px;
  border: 1px solid #1e1e1e;
  transform: rotate(90deg);
  margin-top: 40px;
}
.content-1 .left-section .top .inner-container div p {
  color: #1e1e1e;
  font-size: 18px;
}
.content-1 .left-section .top .inner-container div p:first-child {
  font-size: 32px;
}
.content-1 .left-section .btn-container .search-bar {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5px 18px 10px;
}
.content-1 .left-section .btn-container .search-bar .img-container {
  height: 48px;
  width: 48px;
  background-color: #c1dcdc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-1 .left-section .btn-container .search-bar p {
  color: #1e1e1e80;
  font-size: 18px;
}
.content-1 .left-section .btn-container .search-bar .img-container img {
  height: 20px;
  width: 20px;
}
.content-1 .right-section {
  height: initial;
  max-width: 60%;
  background-color: #1e1e1e;
  position: relative;
  left: 40%;
}
.content-1 .right-section .arrow-container1 {
  height: auto;
  width: 23%;
  position: absolute;
  top: 267px;
  left: 10%;
}
.content-1 .right-section .arrow-container1 img {
  width: 100%;
}
.content-1 .right-section .arrow-container2 {
  width: 11%;
  position: absolute;
  top: -40px;
  left: 92%;
}
.content-1 .right-section .arrow-container2 img {
  width: 100%;
}
.content-1 .right-section .shape-container {
  height: 400px;
  width: 65.4%;
  position: absolute;
  left: 34%;
  top: 73px;
}
.content-1 .right-section .shape-container img {
  width: 100%;
}
.content-1 .right-section .plant-container {
  width: 62%;
  height: auto;
  position: absolute;
  left: 40%;
  top: -51px;
}
.content-1 .right-section .plant-container img {
  width: 100%;
}
.content-2 {
  display: flex;
  margin: 96px 0px;
}
.content-2 .left-section {
  height: 264px;
  width: 256px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.content-2 .left-section div h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #1e1e1e;
}
.content-2 .left-section div p {
  margin-top: 12px;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e80;
}
.content-2 .left-section button {
  width: 168px;
  height: 51px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1dcdc;
  border: none;
  border-radius: 8px;
}
.content-2 .left-section button p {
  font-size: 18px;
  color: #1e1e1e;
}
.content-2 .left-section button img {
  height: 20px;
  width: 24px;
}
.content-2 .right-section {
  width: 80%;
  display: flex;
  gap: 48px;
}
.content-2 .right-section section {
  height: 436px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-2 .right-section section img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
}
.content-2 .right-section section h3 {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
}
.content-2 .right-section section p {
  color: #1e1e1e80;
  font-size: 18px;
}
.about-us {
  width: 100%;
}
.about-container {
  max-width: 1440px;
  margin: auto;
  padding: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.about-header {
  height: 87px;
  width: 430px;
  text-align: center;
}
.about-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.about-header p {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
}
.about-main {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-main div {
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.about-main div .img-container {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #c1dcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main div .img-container img {
  width: 40px;
  height: 40px;
}
.about-main div h3 {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.about-main div p {
  color: #1e1e1e80;
  font-size: 18px;
  line-height: 27px;
}
.category {
  margin-top: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.category-header {
  width: 262px;
  height: 87px;
  text-align: center;
  margin: auto;
}
.category-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 12px;
}
.category-header p {
  font-size: 18px;
  color: #1e1e1e80;
}
.bg-color {
  background-color: #c1dcdc;
  width: 100%;
}
.category-main {
  margin: auto;
  width: 1440px;
  height: 841px;
  padding: 48px 96px;
  display: flex;
  align-items: center;
  gap: 96px;
}
.category-main .content {
  height: 692px;
  width: 352px;
}
.category-main .content img {
  height: 512px;
  width: 100%;
}
.category-main .content h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #1e1e1e;
}
.category-main .content p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e80;
  margin: 5px;
}
.category-main div .btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.category-main .content button {
  margin-top: 10px;
  height: 51px;
  width: 147px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.category-main .content button img {
  width: 24px;
  height: 20px;
  margin-left: 5px;
}
.category-main .content button span {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 18px;
}
.comments {
  max-width: 1440px;
  margin: auto;
  padding: 96px;
  width: 100%;
}
.comments h2 {
  width: 457px;
  height: 96px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-bottom: 30px;
}
.comments .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.comments .content div {
  height: 330px;
  width: 50%;
  background-color: #c1dcdc;
  border-radius: 12px;
  padding: 45px;
}
.comments .content div img {
  height: 35px;
  width: 35px;
}
.comments .content div .comment {
  margin-left: 45px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 500px;
  color: #1e1e1ebf;
}
.comments .content div .author {
  margin-left: 45px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #1e1e1e;
}
.comments .content div .source {
  margin-left: 45px;
  font-weight: 500;
  font-size: 12px;
  color: #1e1e1e80;
}

footer {
  margin: auto;
  width: 1440px;
  padding: 48px 96px;
  height: 400px;
  overflow: hidden;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section .left-container {
  width: 192px;
  height: 170px;
}
footer section .left-container .company-name {
  height: 16px;
  width: 95px;
  margin-bottom: 24px;
}
footer section .left-container p {
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e80;
  margin-bottom: 24px;
}
footer section .left-container .list {
  display: flex;
  gap: 24px;
  align-items: center;
}
footer section .left-container .list li {
  list-style: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #1e1e1e80;
  text-align: center;
  padding-top: 12px;
}
footer section .left-container .list li a img {
  width: 20px;
  height: 20px;
}
footer section .right-container {
  width: 452px;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
footer section .right-container .list li {
  margin-bottom: 24px;
  list-style: none;
}
footer section .right-container .list li a {
  text-decoration: none;
  color: #1e1e1e80;
  font-weight: 400px;
  font-size: 18px;
}
footer section .right-container .list .f-c a:first-child {
  font-weight: 700px;
  font-size: 18px;
  color: #1e1e1e;
}
footer .copyright {
  color: #1e1e1e80;
  font-size: 18px;
  margin-top: 90px;
}
@media screen and (max-width: 1400px) {
  body {
    zoom: 0.97;
  }
}
@media screen and (max-width: 1350px) {
  body {
    zoom: 0.93;
  }
}
@media screen and (max-width: 1300px) {
  body {
    zoom: 0.87;
  }
}
@media screen and (max-width: 1250px) {
  body {
    zoom: 0.83;
  }
}
@media screen and (max-width: 1200px) {
  body {
    zoom: 0.79;
  }
}
@media screen and (max-width: 1150px) {
  body {
    zoom: 0.75;
  }
}
@media screen and (max-width: 1100px) {
  body {
    zoom: 0.70;
  }
}
@media screen and (max-width: 1050px) {
  body {
    zoom: 0.67;
  }
}
@media screen and (max-width: 1000px) {
  body {
    zoom: 0.63;
  }
}
@media screen and (max-width: 950px) {
  body {
    zoom: 0.60;
  }
}
@media screen and (max-width: 900px) {
  body {
    zoom: 0.57;
  }
}
@media screen and (max-width: 850px) {
  body {
    zoom: 0.54;
  }
}
@media screen and (max-width: 800px) {
  body {
    zoom: 0.51;
  }
}

@media screen and (max-width: 768px) {
  body{
    zoom: 1;
  }
  .full-container {
    min-width: 320px;
    min-height: auto;
  }
  .top-container{
    padding: 15px;
  }
  nav{
    flex-direction: column;
  }
  .nav-links .nav-2 ul li{
    display: none;
  }
  .content-1 {
    width: 100%;
    height: auto;
    padding: 15px 15px 0px;
  }
  .content-1 img{
    display: inline-block;
    max-width: 100%;
    height: 100%;
  }
  .content-1 .left-section {
    gap: 33px;
    float: none;
    height: auto;
    width: 100%;
  }
  .content-1 .left-section .top h1 {
    margin-top: 30px;
    text-align: center;
  }
  .content-1 .left-section .top .inner-container {
    width: 100%;
    justify-content: space-evenly;
    height: 75px;
  }
  .content-1 .right-section{
    display: none;
  }
  .content-2 {
    flex-direction: column;
    align-items: center;
  }
  .content-2 .left-section{
    min-width: 100%;
    align-items: center;
    gap: 30px;
    height: auto;
    margin-bottom: 40px;
  }
  .content-2 .left-section div h2{
    text-align: center;
  }
  .content-2 .right-section {
    flex-direction: column;
    align-items: center;
  }
  .content-2 .right-section section {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .content-2 .right-section section img {
    width: inherit;
    height: inherit;
  }
  .about-container {
    padding: 15px;
    width: 85%;
  }
  .about-main {
    flex-direction: column;
  }
  .category{
    margin-top: 20px;
    gap: 30px;
  }
  .category-main {
    margin: auto;
    width: 100%;
    padding: 15px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .category-main .content{
    margin: auto;
    height: 85%;
    width: 85%;
  }
  .category-main .content img {
    height: 100%;
    width: 100%;
  }
  .comments{
    height: auto;
    padding: 15px;
  }
  .comments h2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .comments .content {
    flex-direction: column;
  }
  .comments .content div {
    height: auto;
    width: 100%;
  }
  footer {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  footer section {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
  }
  footer section .left-container {
    width: 100%;
    text-align: center;
  }
  footer section .left-container .list {
    width: 100%;
    gap: 50px;
    justify-content: center;
  }
  footer section .left-container .company-name{
    margin-bottom: 30px;
  }
  footer section .left-container p{
    margin-bottom: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
  }
  footer .copyright {
    text-align: center;
  }
}
@media screen and (max-width:730px) {
  body{
    zoom: 0.96;
  }
}
@media screen and (max-width:700px) {
  body{
    zoom: 0.92;
  }
}
@media screen and (max-width:670px) {
  body{
    zoom: 0.87;
  }
}
@media screen and (max-width:640px) {
  body{
    zoom: 0.84;
  }
}
@media screen and (max-width:600px) {
  body{
    zoom: 0.79;
  }
}
@media screen and (max-width:560px) {
  body{
    zoom: 0.74;
  }
}
@media screen and (max-width:520px) {
  body{
    zoom: 0.70;
  }
}
@media screen and (max-width:480px) {
  body{
    zoom: 0.63;
  }
}
@media screen and (max-width:451px) {
  nav {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
  }
  .nav-links .nav-1 li a{
    display: none;
  }
  .nav-links .nav-2 {
    display: none;
  }
  .nav-links .nav-1 .f-c a:first-child{
    display: inline-block;
  }
  nav > img{
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}
